.image.image {
  background-image:/* webpackIgnore: true */ url('assets/image2.jpg');
}
.title {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.8844%;
  right: 10.5442%;
  top: 58.9286%;
  bottom: 35.9694%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aLongDescriptionMustClipWhenIt {
  color: #888;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.2857%;
  right: 10.5442%;
  top: 66.8367%;
  bottom: 22.9592%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.price {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 58.5034%;
  right: 4.4218%;
  top: 88.5204%;
  bottom: 4.5918%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.image2.image2 {
  background-image:/* webpackIgnore: true */ url('assets/image3.jpg');
}
.title2 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.8844%;
  right: 10.5442%;
  top: 58.9286%;
  bottom: 35.9694%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aLongDescriptionMustClipWhenIt2 {
  color: #888;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.2857%;
  right: 10.5442%;
  top: 66.8367%;
  bottom: 22.9592%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.price2 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 61.9048%;
  right: 7.8231%;
  top: 88.5204%;
  bottom: 4.5918%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.image3.image3 {
  background-image:/* webpackIgnore: true */ url('assets/image4.jpg');
}
.title3 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.8844%;
  right: 10.5442%;
  top: 58.9286%;
  bottom: 35.9694%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aLongDescriptionMustClipWhenIt3 {
  color: #888;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.2857%;
  right: 10.5442%;
  top: 66.8367%;
  bottom: 22.9592%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.price3 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 58.8435%;
  right: 5.102%;
  top: 88.5204%;
  bottom: 4.5918%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.image4.image4 {
  background-image:/* webpackIgnore: true */ url('assets/image5.jpg');
}
.title4 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.8844%;
  right: 10.5442%;
  top: 58.9286%;
  bottom: 35.9694%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aLongDescriptionMustClipWhenIt4 {
  color: #888;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.2857%;
  right: 10.5442%;
  top: 66.8367%;
  bottom: 22.9592%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.icon18 {
  width: 100%;
  height: 100%;
}
.icon19 {
  width: 100%;
  height: 100%;
}
.icon20 {
  width: 100%;
  height: 100%;
}
.price4 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 53.0612%;
  right: -0.6803%;
  top: 88.5204%;
  bottom: 4.5918%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.image5.image5 {
  background-image:/* webpackIgnore: true */ url('assets/image6.jpg');
}
.title5 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.8844%;
  right: 10.5442%;
  top: 58.9286%;
  bottom: 35.9694%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aLongDescriptionMustClipWhenIt5 {
  color: #888;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.2857%;
  right: 10.5442%;
  top: 66.8367%;
  bottom: 22.9592%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon21 {
  width: 100%;
  height: 100%;
}
.icon22 {
  width: 100%;
  height: 100%;
}
.icon23 {
  width: 100%;
  height: 100%;
}
.icon24 {
  width: 100%;
  height: 100%;
}
.icon25 {
  width: 100%;
  height: 100%;
}
.price5 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 58.5034%;
  right: 4.7619%;
  top: 88.5204%;
  bottom: 4.5918%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.image6.image6 {
  background-image:/* webpackIgnore: true */ url('assets/image7.jpg');
}
.title6 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.8844%;
  right: 10.5442%;
  top: 58.9286%;
  bottom: 35.9694%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aLongDescriptionMustClipWhenIt6 {
  color: #888;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.2857%;
  right: 10.5442%;
  top: 66.8367%;
  bottom: 22.9592%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon26 {
  width: 100%;
  height: 100%;
}
.icon27 {
  width: 100%;
  height: 100%;
}
.icon28 {
  width: 100%;
  height: 100%;
}
.icon29 {
  width: 100%;
  height: 100%;
}
.icon30 {
  width: 100%;
  height: 100%;
}
.price6 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 59.5238%;
  right: 5.4422%;
  top: 88.5204%;
  bottom: 4.5918%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.image7.image7 {
  background-image:/* webpackIgnore: true */ url('assets/image8.jpg');
}
.title7 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.8844%;
  right: 10.5442%;
  top: 58.9286%;
  bottom: 35.9694%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aLongDescriptionMustClipWhenIt7 {
  color: #888;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.2857%;
  right: 10.5442%;
  top: 66.8367%;
  bottom: 22.9592%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon31 {
  width: 100%;
  height: 100%;
}
.icon32 {
  width: 100%;
  height: 100%;
}
.icon33 {
  width: 100%;
  height: 100%;
}
.icon34 {
  width: 100%;
  height: 100%;
}
.icon35 {
  width: 100%;
  height: 100%;
}
.price7 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 61.2245%;
  right: 7.1429%;
  top: 88.5204%;
  bottom: 4.5918%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.image8.image8 {
  background-image:/* webpackIgnore: true */ url('assets/image9.jpg');
}
.title8 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.8844%;
  right: 10.5442%;
  top: 58.9286%;
  bottom: 35.9694%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aLongDescriptionMustClipWhenIt8 {
  color: #888;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.2857%;
  right: 10.5442%;
  top: 66.8367%;
  bottom: 22.9592%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon36 {
  width: 100%;
  height: 100%;
}
.icon37 {
  width: 100%;
  height: 100%;
}
.icon38 {
  width: 100%;
  height: 100%;
}
.icon39 {
  width: 100%;
  height: 100%;
}
.icon40 {
  width: 100%;
  height: 100%;
}
.price8 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 58.8435%;
  right: 4.7619%;
  top: 88.5204%;
  bottom: 4.5918%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.image9.image9 {
  background-image:/* webpackIgnore: true */ url('assets/image10.jpg');
}
.title9 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.8844%;
  right: 10.5442%;
  top: 58.9286%;
  bottom: 35.9694%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aLongDescriptionMustClipWhenIt9 {
  color: #888;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.2857%;
  right: 10.5442%;
  top: 66.8367%;
  bottom: 22.9592%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon41 {
  width: 100%;
  height: 100%;
}
.icon42 {
  width: 100%;
  height: 100%;
}
.icon43 {
  width: 100%;
  height: 100%;
}
.icon44 {
  width: 100%;
  height: 100%;
}
.icon45 {
  width: 100%;
  height: 100%;
}
.price9 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 58.1633%;
  right: 4.4218%;
  top: 88.5204%;
  bottom: 4.5918%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.image10.image10 {
  background-image:/* webpackIgnore: true */ url('assets/image11.jpg');
}
.title10 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.8844%;
  right: 10.5442%;
  top: 58.9286%;
  bottom: 35.9694%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aLongDescriptionMustClipWhenIt10 {
  color: #888;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.2857%;
  right: 10.5442%;
  top: 66.8367%;
  bottom: 22.9592%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon46 {
  width: 100%;
  height: 100%;
}
.icon47 {
  width: 100%;
  height: 100%;
}
.icon48 {
  width: 100%;
  height: 100%;
}
.icon49 {
  width: 100%;
  height: 100%;
}
.icon50 {
  width: 100%;
  height: 100%;
}
.price10 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 58.1633%;
  right: 4.0816%;
  top: 88.5204%;
  bottom: 4.5918%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.image11.image11 {
  background-image:/* webpackIgnore: true */ url('assets/image12.jpg');
}
.title11 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.8844%;
  right: 10.5442%;
  top: 58.9286%;
  bottom: 35.9694%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aLongDescriptionMustClipWhenIt11 {
  color: #888;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.2857%;
  right: 10.5442%;
  top: 66.8367%;
  bottom: 22.9592%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon51 {
  width: 100%;
  height: 100%;
}
.icon52 {
  width: 100%;
  height: 100%;
}
.icon53 {
  width: 100%;
  height: 100%;
}
.icon54 {
  width: 100%;
  height: 100%;
}
.icon55 {
  width: 100%;
  height: 100%;
}
.price11 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 61.2245%;
  right: 7.1429%;
  top: 88.5204%;
  bottom: 4.5918%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.image12.image12 {
  background-image:/* webpackIgnore: true */ url('assets/image13.jpg');
}
.title12 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.8844%;
  right: 10.5442%;
  top: 58.9286%;
  bottom: 35.9694%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aLongDescriptionMustClipWhenIt12 {
  color: #888;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.2857%;
  right: 10.5442%;
  top: 66.8367%;
  bottom: 22.9592%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon56 {
  width: 100%;
  height: 100%;
}
.icon57 {
  width: 100%;
  height: 100%;
}
.icon58 {
  width: 100%;
  height: 100%;
}
.icon59 {
  width: 100%;
  height: 100%;
}
.icon60 {
  width: 100%;
  height: 100%;
}
.price12 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 58.1633%;
  right: 4.4218%;
  top: 88.5204%;
  bottom: 4.5918%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.image13.image13 {
  background-image:/* webpackIgnore: true */ url('assets/image14.jpg');
}
.title13 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.8844%;
  right: 10.5442%;
  top: 58.9286%;
  bottom: 35.9694%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aLongDescriptionMustClipWhenIt13 {
  color: #888;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.2857%;
  right: 10.5442%;
  top: 66.8367%;
  bottom: 22.9592%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon61 {
  width: 100%;
  height: 100%;
}
.icon62 {
  width: 100%;
  height: 100%;
}
.icon63 {
  width: 100%;
  height: 100%;
}
.icon64 {
  width: 100%;
  height: 100%;
}
.icon65 {
  width: 100%;
  height: 100%;
}
.price13 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 58.8435%;
  right: 4.7619%;
  top: 88.5204%;
  bottom: 4.5918%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.image14.image14 {
  background-image:/* webpackIgnore: true */ url('assets/image15.jpg');
}
.title14 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 10.8844%;
  right: 10.5442%;
  top: 58.9286%;
  bottom: 35.9694%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.aLongDescriptionMustClipWhenIt14 {
  color: #888;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 14.2857%;
  right: 10.5442%;
  top: 66.8367%;
  bottom: 22.9592%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icon66 {
  width: 100%;
  height: 100%;
}
.icon67 {
  width: 100%;
  height: 100%;
}
.icon68 {
  width: 100%;
  height: 100%;
}
.icon69 {
  width: 100%;
  height: 100%;
}
.icon70 {
  width: 100%;
  height: 100%;
}
.price14 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 61.9048%;
  right: 7.8231%;
  top: 88.5204%;
  bottom: 4.5918%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 1728px;
  height: 3269px;
  align-items: flex-start;
  background-color: #f4f5f9;
  overflow: hidden;
}
.materialSymbolsArrowRight {
  position: absolute;
  left: 71.3805%;
  right: 27.2727%;
  top: 82.9102%;
  bottom: 16.3494%;
}
.icon71 {
  width: 100%;
  height: 100%;
}
.rectangle2 {
  position: absolute;
  left: 22.3906%;
  right: 26.9921%;
  top: 1.0707%;
  bottom: 96.6466%;
  background-color: #fff;
}
.searchProductsBrands {
  color: #000;
  font-size: 14px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 27.3288%;
  right: 63.0191%;
  top: 1.8419%;
  bottom: 97.6337%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.adom {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 7.0146%;
  right: 89.8429%;
  top: 1.9653%;
  bottom: 97.2944%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle3 {
  position: absolute;
  left: 0;
  right: 86.3636%;
  top: 5.4202%;
  bottom: 74.8988%;
  background-image:/* webpackIgnore: true */ url('assets/rectangle3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle4 {
  position: absolute;
  left: 15.0954%;
  right: 14.8709%;
  top: 5.4202%;
  bottom: 74.8988%;
  background-color: #1e1e1e;
}
.ellipse13 {
  position: absolute;
  left: 82.6038%;
  right: 14.8709%;
  top: 14.798%;
  bottom: 84.2766%;
  overflow: visible;
}
.icon72 {
  width: 100%;
  height: 100%;
}
.text {
  position: absolute;
  left: 18.5746%;
  right: 72.11%;
  top: 11.4356%;
  bottom: 84.0606%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock {
  color: #000;
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #000;
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 0;
  color: #000;
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #000;
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 0;
  color: #000;
  font-size: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.loremLpsumIsSimplyDummyTextOfT {
  position: absolute;
  left: 20.202%;
  right: 52.3008%;
  top: 13.2248%;
  bottom: 85.0169%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock6 {
  color: #000;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock7 {
  margin-top: 0;
  color: #000;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #000;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle5 {
  position: absolute;
  left: 86.8687%;
  right: 3.0303%;
  top: 5.1117%;
  bottom: 74.8988%;
  background-image:/* webpackIgnore: true */ url('assets/rectangle5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.frame2 {
  position: absolute;
  left: 3.7756%;
  right: 8.3772%;
  top: 28.6992%;
  bottom: 59.3094%;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 12px;
}
.frame3 {
  position: absolute;
  left: 4.1123%;
  right: 8.0405%;
  top: 43.3211%;
  bottom: 44.6874%;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 12px;
}
.rectangle8 {
  position: absolute;
  left: 0;
  right: 3.0303%;
  top: 57.2139%;
  bottom: 26.2824%;
  background-image:/* webpackIgnore: true */ url('assets/rectangle8.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.copyright2023AllRightsReserved {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 29.798%;
  right: 51.0662%;
  top: 99.2596%;
  bottom: 0%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.dealsOfTheDay {
  position: absolute;
  left: 2.6936%;
  right: 88.6083%;
  top: 64.2781%;
  bottom: 32.7605%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock9 {
  color: #fff;
  font-size: 40px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock10 {
  margin-top: 0;
  color: #fff;
  font-size: 40px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.frame4 {
  position: absolute;
  left: 20.5983%;
  right: 9.2628%;
  top: 60.0716%;
  bottom: 27.937%;
  width: min-content;
  height: min-content;
  align-items: flex-start;
  gap: 12px;
}
.ellipse14 {
  position: absolute;
  left: 89.1695%;
  right: 8.642%;
  top: 64.4632%;
  bottom: 34.488%;
  overflow: visible;
}
.icon73 {
  width: 100%;
  height: 100%;
}
.ellipse10 {
  position: absolute;
  left: 20.4826%;
  right: 77.3288%;
  top: 64.4632%;
  bottom: 34.488%;
  overflow: visible;
}
.icon74 {
  width: 100%;
  height: 100%;
}
.rectangle6 {
  position: absolute;
  left: 5.1066%;
  right: 68.0135%;
  top: 74.7355%;
  bottom: 15.424%;
  background-color: #d9d9d9;
}
.oxfordBrogueBrownShoe {
  position: absolute;
  left: 5.6678%;
  right: 85.7464%;
  top: 77.882%;
  bottom: 20.4522%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock11 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock12 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle7 {
  position: absolute;
  left: 35.7464%;
  right: 37.3737%;
  top: 74.7355%;
  bottom: 15.424%;
  background-color: #d9d9d9;
}
.rectangle11 {
  position: absolute;
  left: 66.2739%;
  right: 6.8462%;
  top: 74.7355%;
  bottom: 15.424%;
  background-color: #d9d9d9;
}
._3324 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 69.248%;
  right: 26.4871%;
  top: 80.3499%;
  bottom: 18.8172%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.alRehabChocoMuskPerfume {
  position: absolute;
  left: 67.9573%;
  right: 22.7834%;
  top: 78.5607%;
  bottom: 19.7735%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock13 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock14 {
  margin-top: 0;
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.rectangle9 {
  position: absolute;
  left: 3.0303%;
  right: 0;
  top: 89.0798%;
  bottom: 2.2828%;
  background-color: #fff;
}
.sellOnShopioAdvertiseOnShopioM {
  position: absolute;
  left: 57.4074%;
  right: 36.1953%;
  top: 93.0901%;
  bottom: 2.7455%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock15 {
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock16 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock17 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock18 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock19 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock20 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock21 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock22 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock23 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.sUBSCRIBE {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 73.064%;
  right: 21.8294%;
  top: 91.8561%;
  bottom: 7.5577%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.downloadApp {
  color: #000;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 75.5331%;
  right: 18.2379%;
  top: 1.9653%;
  bottom: 97.4486%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.signUpLogin {
  color: #000;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 83.4456%;
  right: 10.2132%;
  top: 1.9653%;
  bottom: 97.4486%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle13 {
  position: absolute;
  left: 23.3218%;
  right: 63.8836%;
  top: 15.9682%;
  bottom: 82.0575%;
  background-color: #fff;
}
.buyNow {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26.3889%;
  right: 68.8412%;
  top: 16.3047%;
  bottom: 82.955%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle16 {
  position: absolute;
  left: 47.7553%;
  right: 13.5241%;
  top: 8.8752%;
  bottom: 75.0839%;
}
.rectangle17 {
  position: absolute;
  left: 48.1481%;
  right: 17.6768%;
  top: 5.5128%;
  bottom: 74.9913%;
  background-image:/* webpackIgnore: true */ url('assets/rectangle17.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jBL {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 39.1695%;
  right: 58.642%;
  top: 77.3576%;
  bottom: 21.8095%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.p07Headphone {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 37.2054%;
  right: 53.5354%;
  top: 79.2393%;
  bottom: 19.9278%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.bestSelling {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 68.2941%;
  right: 24.9158%;
  top: 77.6044%;
  bottom: 21.5627%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle18 {
  position: absolute;
  left: 68.5185%;
  right: 24.2424%;
  top: 82.355%;
  bottom: 16.1026%;
  background-color: #d9d9d9;
}
.rectangle19 {
  position: absolute;
  left: 67.4523%;
  right: 25.3648%;
  top: 93.5528%;
  bottom: 5.4909%;
  background-color: #fff;
}
.rectangle20 {
  position: absolute;
  left: 17.3401%;
  right: 69.4725%;
  top: 75.8152%;
  bottom: 15.424%;
  background-image:/* webpackIgnore: true */ url('assets/rectangle20.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle21 {
  position: absolute;
  left: 47.6431%;
  right: 39.9551%;
  top: 76.1854%;
  bottom: 15.7941%;
  background-image:/* webpackIgnore: true */ url('assets/rectangle21.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rectangle22 {
  position: absolute;
  left: 79.6296%;
  right: 7.688%;
  top: 75.6301%;
  bottom: 15.7941%;
  background-image:/* webpackIgnore: true */ url('assets/rectangle22.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loremLpsumIsSimplyDummyTextOfT2 {
  position: absolute;
  left: 10.0449%;
  right: 80.3591%;
  top: 94.3548%;
  bottom: 4.1028%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock24 {
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock25 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock26 {
  margin-top: 0;
}
.labelWrapper {
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  flex-shrink: 1;
}
.label {
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.label2 {
  color: #000;
  font-size: 16px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.privacyPolicyTermsOfSaleTermsO {
  position: absolute;
  left: 25.9259%;
  right: 69.6409%;
  top: 93.0901%;
  bottom: 3.6709%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock27 {
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock28 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock29 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock30 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock31 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock32 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock33 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.pOLICYINFO {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 26.0943%;
  right: 68.1818%;
  top: 91.8561%;
  bottom: 7.5577%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.aDOM {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 12.8507%;
  right: 84.2873%;
  top: 93.2443%;
  bottom: 6.1696%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.cOMPANY {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 44.2761%;
  right: 51.0101%;
  top: 91.8561%;
  bottom: 7.5577%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.aboutUsBlogSitemapFAQContactUs {
  position: absolute;
  left: 43.266%;
  right: 50.3367%;
  top: 93.0901%;
  bottom: 2.7455%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock34 {
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock35 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock36 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock37 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock38 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock39 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock40 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock41 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock42 {
  margin-top: 0;
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.bUSINESS {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 58.5297%;
  right: 36.9809%;
  top: 91.8561%;
  bottom: 7.5577%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle24 {
  position: absolute;
  left: 75.2525%;
  right: 5.5556%;
  top: 93.2751%;
  bottom: 4.874%;
  background-color: #eee;
}
.yourEmailAdress {
  color: #000;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 78.6756%;
  right: 15.6566%;
  top: 93.8921%;
  bottom: 5.6452%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.materialSymbolsSearch {
  position: absolute;
  left: 69.3042%;
  right: 29.349%;
  top: 1.811%;
  bottom: 97.4486%;
}
.icon75 {
  width: 100%;
  height: 100%;
}
.rectangle25 {
  position: absolute;
  left: 88.945%;
  right: 5.5556%;
  top: 93.3368%;
  bottom: 4.874%;
  background-color: #000;
}
.submit {
  color: #fff;
  font-size: 12px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 90.6285%;
  right: 7.1268%;
  top: 93.7996%;
  bottom: 5.7377%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.popularProjects {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 4.0404%;
  right: 87.2615%;
  top: 26.3968%;
  bottom: 72.8628%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.featuredProjects {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 4.0404%;
  right: 86.5881%;
  top: 41.6357%;
  bottom: 57.6239%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
._2340 {
  position: absolute;
  left: 4.0965%;
  right: 91.0213%;
  top: 66.931%;
  bottom: 31.5883%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlock43 {
  color: #fff;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock44 {
  margin-top: 0;
  color: #fff;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.ellipse4 {
  position: absolute;
  left: 84.6801%;
  right: 13.1313%;
  top: 26.8904%;
  bottom: 72.0608%;
  overflow: visible;
}
.icon76 {
  width: 100%;
  height: 100%;
}
.ellipse6 {
  position: absolute;
  left: 84.6801%;
  right: 13.1313%;
  top: 26.8904%;
  bottom: 72.0608%;
  overflow: visible;
}
.icon77 {
  width: 100%;
  height: 100%;
}
.ellipse7 {
  position: absolute;
  left: 85.8025%;
  right: 12.009%;
  top: 41.2655%;
  bottom: 57.6856%;
  overflow: visible;
}
.icon78 {
  width: 100%;
  height: 100%;
}
.ellipse8 {
  position: absolute;
  left: 82.9966%;
  right: 14.8148%;
  top: 41.2655%;
  bottom: 57.6856%;
  overflow: visible;
}
.icon79 {
  width: 100%;
  height: 100%;
}
.ellipse9 {
  position: absolute;
  left: 81.8743%;
  right: 15.9372%;
  top: 26.8904%;
  bottom: 72.0608%;
  overflow: visible;
}
.icon80 {
  width: 100%;
  height: 100%;
}
.ellipse12 {
  position: absolute;
  left: 17.6207%;
  right: 79.8541%;
  top: 14.798%;
  bottom: 84.2766%;
  overflow: visible;
}
.icon81 {
  width: 100%;
  height: 100%;
}
.materialSymbolsArrowRight2 {
  position: absolute;
  left: 82.7722%;
  right: 14.9832%;
  top: 14.798%;
  bottom: 84.2766%;
}
.icon82 {
  width: 100%;
  height: 100%;
}
.materialSymbolsArrowLeft {
  position: absolute;
  left: 20.8754%;
  right: 77.7778%;
  top: 64.6174%;
  bottom: 34.6422%;
}
.icon83 {
  width: 100%;
  height: 100%;
}
.materialSymbolsArrowLeft2 {
  position: absolute;
  left: 82.3232%;
  right: 16.33%;
  top: 27.0446%;
  bottom: 72.215%;
}
.icon84 {
  width: 100%;
  height: 100%;
}
.materialSymbolsArrowLeft3 {
  position: absolute;
  left: 83.4456%;
  right: 15.2076%;
  top: 41.4198%;
  bottom: 57.8399%;
}
.icon85 {
  width: 100%;
  height: 100%;
}
.materialSymbolsArrowRight3 {
  position: absolute;
  left: 85.0168%;
  right: 13.6364%;
  top: 27.0446%;
  bottom: 72.215%;
}
.icon86 {
  width: 100%;
  height: 100%;
}
.materialSymbolsArrowRight4 {
  position: absolute;
  left: 86.1953%;
  right: 12.4579%;
  top: 41.4198%;
  bottom: 57.8399%;
}
.icon87 {
  width: 100%;
  height: 100%;
}
.materialSymbolsArrowLeft4 {
  position: absolute;
  left: 17.7329%;
  right: 80.0224%;
  top: 14.8597%;
  bottom: 84.2149%;
}
.icon88 {
  width: 100%;
  height: 100%;
}
.unnamed {
  color: #000;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 89.899%;
  right: 9.3154%;
  top: 64.6174%;
  bottom: 34.6422%;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.icRoundHome {
  position: absolute;
  left: 11.2795%;
  right: 87.3737%;
  top: 1.9653%;
  bottom: 97.2944%;
}
.icon89 {
  width: 100%;
  height: 100%;
}
.surfaceStudio {
  color: #fff;
  font-size: 32px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 20.1968%;
  right: 66.8403%;
  top: 11.0431%;
  bottom: 87.7638%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
